// Navigation Styles here//

.header {
    border-bottom: 2px dashed silver; 
    display: flex;
    align-items: baseline;  
    justify-content: space-around;
    .navbar {
       display: flex;
       width: 20%;
       justify-content: space-around;
       margin-right: 30px;
       margin-bottom: 20px;
       margin-top: 30px;
       a {
           text-decoration: none;
           color: black;
       }
    }
}
h1 {
    margin-right: 220px;
}